### [A] Answer the following questions:

**(a) When does the else block of a while loop go to work?**

The else block in a while loop executes only once when the while loop's condition becomes False. It doesn't execute after each iteration.

**(b) Can range( ) function be used to generate numbers from 0.1 to 1.0 in steps of 0.1?**

The range() function in Python doesn't directly generate sequences with floating-point steps. This is because range() creates an integer sequence.

**(c) Can a while loop be nested within a for loop and vice versa?**

Yes: We can nest while loops within for loops, and vice versa. This creates nested control flow structures for complex tasks.

**(d) Can a while/for loop be used in an if/else and vice versa?**

Yes: We can use while or for loops within if or else statements, and vice versa. This allows for conditional execution of loops.

**(e) Can a do-while loop be used to repeat a set of statements?**

Unlike many other languages, Python doesn't have a built-in do-while loop.

**(f) How will you write an equivalent for loop for the following:**
```python
count = 1
while count <= 10 :
print(count)
count = count + 1
```
answer

```python
for i in range(10):
    print(i)
```

**(g) What will be the output of the following code snippet?**
```python
for index in range(20, 10, -3) :
    print(index, end = ' ')
```
answer 20 17 14 11

**(h) Why should break and continue be always used with an if embedded in a while or for loop?**

break and continue statements are not always used with an if embedded in a while or for loop.

### [B] Point out the errors, if any, in the following programs:


**(a)**
```python
j = 1
while j <= 10 :
print(j)
j++
```
`j++` Error: The increment operator `++` is not supported in Python. To increment `j`, use `j += 1`.

**(b)** 
```python
while true :
    print('Infinite loop')
```
This code creates an infinite loop because of the condition `True` will always true. This will keep running the loop indefinitely.

**(c)** 
```python
lst = [10, 20, 30, 40, 50]
for count = 1 to 5 :
    print(lst[ i ])
```
Syntex error becuase of condition `count = 1 to 5` is not valid in Python. use
```python
for i in range(len(lst)):
    print(lst[i])
```

**(d)** 
```python
i = 15
not while i < 10 :
    print(i)
    i -= 1
```
not keyword doesnot work before while, its works after while like ` while not i < 10 :`.

**(e)** 
```python
# Print alphabets from A to Z
for alpha in range(65, 91) :
    print(ord(alpha), end=' ')
```
No error in this program


**(f)** 
```python
for i in range(0.1, 1.0, 0.25) :
    print(i)
```
error will show because of float values used in range functions arguments instante of integer value.

**(g)** 
```python
i = 1
while i <= 10 :
    j=1
    while j <= 5 :
        print(i, j )
        j += 1
        break
    print(i, j)
    i += 1
```
[C] Match the following for the values each range( ) function will
generate.

### [C] Match the following for the values each range( ) function will generate.

|statement|Options|
|---|---|
|a. range(5) |1. 1, 2, 3, 4
|b. range(1, 10, 3) |2. 0, 1, 2, 3, 4
|c. range(10, 1, -2) |3. Nothing
|d. range(1, 5) |4. 10, 8, 6, 4, 2
|e. range(-2) |5. 1, 4, 7

Answer:

|statement|Result|
|---|---|
|a. range(5) |2. 0, 1, 2, 3, 4 
|b. range(1, 10, 3) |5. 1, 4, 7
|c. range(10, 1, -2) |4. 10, 8, 6, 4, 2 
|d. range(1, 5) |1. 1, 2, 3, 4
|e. range(-2) |3. Nothing

# [D] Attempt the following questions:

In [4]:
# (a) Write a program to print first 25 odd numbers using range( ).

number = 25
odd_number = 1
for i in range(number):
    print (odd_number)
    odd_number += 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

**(b) Rewrite the following program using for loop.**
```python
lst = ['desert', 'dessert', 'to', 'too', 'lose', 'loose']
s = 'Mumbai'
i=0
while i < len(lst) :
    if i > 3 :
        break   
    else :
        print(i, lst[i], s[i])
        i += 1
```

In [6]:
lst = ['desert', 'dessert', 'to', 'too', 'lose', 'loose']
s = 'Mumbai'

for i in range(len(lst)):
    if i > 3 :
        break   
    else :
        print(i, lst[i], s[i])
        i += 1

0 desert M
1 dessert u
2 to m
3 too b

In [30]:
# (c) Write a program to count the number of alphabets and number of digits in the string 'Nagpur-440010'

strg = 'Nagpur-440010'
lst = [chr(i) for i in range(65 , 91)] + [chr(i) for i in range(97, 123)]
lst2 = [chr(i) for i in range(48,58)]
str_count = 0
num_count = 0
for i in strg:
    if i in lst:
        str_count+=1
    elif i in lst2:
        num_count += 1

    
print(f"string count is {str_count} and number count is {num_count}.")

string count is 6 and number count is 6.

In [35]:
# (d) A five-digit number is entered through the keyboard. Write a program to obtain the reversed number and to determine whether the original and reversed numbers are equal or not.

u_input = input("enter five digit number")
d = ""
for i in u_input:
    d = i + d
# check orginal number with reversed number are equal or not
if u_input == d :
    print(f"your input {u_input} and its revesed number {d} are equal.")
else:
    print(f"your input {u_input} and its revesed number {d} are not equal.")

your input 151 and its revesed number 151 are equal.

In [45]:
# (e) Write a program to find the factorial value of any number entered through the keyboard.

eu_input = int(input("enter number"))
e = 1
if eu_input > 1 :
    for i in range(1, eu_input + 1):
        e *= i
        print(e)
else:
    e = 1

1
2
6
24
120

In [48]:
# (f) Write a program to print out all Armstrong numbers between 1 and 500. If sum of cubes of each digit of the number is equal to the number itself, then the number is called an Armstrong number. For example, 153 = ( 1 * 1 * 1 ) + ( 5 * 5 * 5 ) + ( 3 * 3 * 3 ).
f_lst = []
for i in range(1, 501):
    strg = str(i)
    num = 0
    for j in strg:
        j = int(j)
        num += j**3
    if i == num:
        f_lst.append(i)

print(f_lst)

[1, 153, 370, 371, 407]

In [62]:
# (g) Write a program to print all prime numbers from 1 to 300.

for i in range(1, 300):
    count = 0
    for j in range(2, i+1):
        if i % j == 0 :
            count += 1
    if i == 1:
        print(i)
    elif count == 1:
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293

In [64]:
# (h) Write a program to print the multiplication table of the number entered by the user. The table should get displayed in the following form:
# 29 * 1 = 29
# 29 * 2 = 58

hu_input = int(input("enter number"))
print(f"Tabel of {hu_input} is : ")
for i in range(1,11):
    print(f"{hu_input} * {i} = {hu_input * i}")

Tabel of 23 is :
23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230

In [ ]:
'''
(i)
When interest compounds q times per year at an annual rate of r % for n years, the principal p compounds to an amount a as per the following formula:
a = p ( 1 + r / q ) nq
Write a program to read 10 sets of p, r, n & q and calculate the corresponding as.
'''

In [ ]:
"""
(j)
Write a program to generate all Pythagorean Triplets with side
length less than or equal to 30.
"""

In [70]:
"""(k) Population of a town today is 100000. The population has increased
steadily at the rate of 10 % per year for last 10 years. Write a
program to determine the population at the end of each year in the
last decade."""

population = 100_000
year = 2024
j = 100_000
for i in range(1, 11):
    j = int(j - ((j / 110) * 10))
    print(f"In year {year - i} population was {j}.")

In year 2023 population was 90909.
In year 2022 population was 82644.
In year 2021 population was 75130.
In year 2020 population was 68300.
In year 2019 population was 62090.
In year 2018 population was 56445.
In year 2017 population was 51313.
In year 2016 population was 46648.
In year 2015 population was 42407.
In year 2014 population was 38551.

In [ ]:
"""(l)
Ramanujan number is the smallest number that can be expressed as
sum of two cubes in two different ways. Write a program to print all
such numbers up to a reasonable limit.
"""

In [66]:
# (m) Write a program to print 24 hours of day with suitable suffixes like AM, PM, Noon and Midnight.

for i in range(0, 25):
    if i == 0 :
        print(f"12:00 Midnight")
    elif i > 0 and i < 12 :
        print(f"{i}:00 AM")
    elif i == 12 :
        print(f"12:00 Noon")
    else :
        print(f"{i - 12}:00 PM")

12:00 Midnight
1:00 AM
2:00 AM
3:00 AM
4:00 AM
5:00 AM
6:00 AM
7:00 AM
8:00 AM
9:00 AM
10:00 AM
11:00 AM
12:00 Noon
1:00 PM
2:00 PM
3:00 PM
4:00 PM
5:00 PM
6:00 PM
7:00 PM
8:00 PM
9:00 PM
10:00 PM
11:00 PM
12:00 PM