In [1]:
print("name")

name

In [2]:
print(name)

NameError: name 'name' is not defined

In [4]:
name : str = "waqas edhi"
print(name)

waqas edhi

# String Data type in python

In [5]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = "waqas edhi"
print(type(name))
print(name)

<class 'str'>
waqas edhi

In [6]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'waqas edhi'
print(type(name))
print(name)

<class 'str'>
waqas edhi

In [7]:
message : str = 'PIAIC Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (4212690934.py, line 1)

In [8]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [9]:
message : str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [10]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [11]:
message : str = "PIAIC Student Card \n father's Name"

In [12]:
"a" + "b" + "c"

'abc'

In [13]:
"a" + "7"

'a7'

In [14]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [15]:
"a" + str(7)

'a7'

In [17]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + str(age)

print(card)

PIAIC Student Card
Student Name: waqas edhi
Age:39

In [18]:
print(7 + 8 + 2)

17

# "\\" line continue

In [19]:
print(7 + \
      8 + \
        2)

17

In [20]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39

card : str = "PIAIC Student Card\nStudent Name: " + name +\
"\nAge:" + str(age)+ "\n"+\
"Education: " + education

print(card)

PIAIC Student Card
Student Name: waqas edhi
Age:39
Education: inter

## Define multiline string """ """, '''  '''

In [21]:
name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39


card : str = """
PIAIC Student Card
Student Name : 
Father's Name: 
Age: ......
Education : .....
"""

print(card)

PIAIC Student Card
Student Name :
Father's Name:
Age: ......
Education : .....

# F-string python

In [22]:
name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : waqas edhi
Father's Name: jehangeer
Age: 39
Education : inter

In [23]:
name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39


card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
'''

print(card)

PIAIC Student Card
Student Name : waqas edhi
Father's Name: jehangeer
Age: 39
Education : inter

In [40]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = `
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
`

print(card)

SyntaxError: unterminated string literal (detected at line 10) (1462558565.py, line 10)

In [24]:
name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : waqas edhi
Father's Name: jehangeer
Age: 39
Education : inter

Total 22

## F-string and Jinja style

In [25]:
f"""
student name {name}
"""

'\nstudent name waqas edhi\n'

In [26]:
# Jinja Style
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [27]:
name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39

card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : waqas edhi
Father's Name: jehangeer
Age: 39
Education : inter

In [28]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [30]:

# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [31]:
name : str = "WaQaS EdHi"

print(name.capitalize())
print(name.lower())

Waqas edhi
waqas edhi

In [32]:
name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : waqas edhi
Father's Name: jehangeer
Age: 39
Education : inter

Total 22

In [33]:
name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name : jehangeer
Father's Name: waqas edhi
Age: inter
Education : 39

In [34]:
name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

PIAIC Student Card
Student Name : waqas edhi
Father's Name: jehangeer
Age: 39
Education : inter

In [36]:
name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39


card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)


print(card)

PIAIC Student Card
Student Name : waqas edhi
Father's Name: jehangeer
Age: 39
Education : inter

# Recommended below two f-string format

In [37]:
name : str = 'waqas edhi'
fname : str = "jehangeer"
education : str = "inter"
age : int = 39


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : waqas edhi
Father's Name: jehangeer
Age: 39
Education : inter

In [38]:
student_code : str = """
print("My Name is Waqas Edhi")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Waqas Edhi
15

# Explore String methods and attributes

pre-define global function we have used
* print
* type
* id
* dir
* len

In [39]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [40]:
name : str = "WaqAs EdHi"

#variable_name.method()
print(name.capitalize())

Waqas edhi

In [41]:
name : str = "WaqAs EdHi"

#variable_name.method()
print(name)
print(name.casefold())

WaqAs EdHi
waqas edhi

In [42]:
name : str = "WaqAs EdHi"

#variable_name.method()
print(name)
print(name.lower())

WaqAs EdHi
waqas edhi

In [43]:
name : str = "              WaqAs EdHi                "

#variable_name.method()
display(name)
display(name.lstrip())

'              WaqAs EdHi                '

'WaqAs EdHi                '

In [44]:
name : str = "              WaqAs EdHi                "

#variable_name.method()
display(name)
display(name.rstrip())

'              WaqAs EdHi                '

'              WaqAs EdHi'

In [45]:
name : str = "              WaqAs EdHi                "

#variable_name.method()
display(name)
display(name.strip())

'              WaqAs EdHi                '

'WaqAs EdHi'

In [46]:
name : str = "              WaqAs      EdHi                "

#variable_name.method()
display(name)
display(name.strip())

'              WaqAs      EdHi                '

'WaqAs      EdHi'

In [47]:
import re

name : str = "              WaqAs     EdHi                "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'              WaqAs     EdHi                '

'WaqAs EdHi'

In [48]:
name : str = "WaqAs EdHi"

#variable_name.method()
display(name)
display(name.title())

'WaqAs EdHi'

'Waqas Edhi'

In [50]:
name:str = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [51]:
\n
\t
\b

SyntaxError: unexpected character after line continuation character (2003590270.py, line 1)

In [49]:
print("Name:\t\t Waqas Edhi")

Name:		 Waqas Edhi

In [52]:
print("Name:\nWaqas Edhi")

Name:
Waqas Edhi

In [53]:
print("Name:\bWaqas Edhi")

NameWaqas Edhi

In [54]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [55]:
1name : str = "Edhi"
print(1name)

SyntaxError: invalid decimal literal (2768421632.py, line 1)

In [56]:
_1name : str = "Edhi"
print(_1name)

Edhi

In [57]:
piaic student name : str = "Waqas Edhi"
print(piaic student name)

SyntaxError: invalid syntax (1024471356.py, line 1)

In [58]:
piaic_student_name : str = "Waqas Edhi"
print(piaic_student_name)

Waqas Edhi